<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS CDN v.3</title>
    <link rel="stylesheet"
          href="style.css">
    <link rel="stylesheet"
          href="circle.css">
    <link rel="stylesheet"
          href="cards.css">
</head>
<body>
<h1>Vue CDN</h1>

<hr/>

<!-- APP #5 -->
<div id="cardsShift">
    <h4>Cards shift</h4>
    <button type="button"
            class="move"
            @click="move">
        Shift
    </button>
    <div class="card"
         v-for="item in items"
         :key="item.name">
        <strong>{{ item.name }}</strong>
        <p>{{ item.message }}</p>
        <input type="text"/>
    </div>
</div>
<hr/>

<!-- APP #4 -->
<div id="listsRendering">
    <h4>Lists rendering</h4>
    <ul>
        <li v-for="(number, index) in numbers"
            :class="number"
            :key="number"
        >
            {{ index }}) {{ number }}
        </li>
    </ul>

    <ul>
        <li v-for="user in users">
            {{ user.name }}: {{ user.age }} y.o.
        </li>
    </ul>

    <ul>
        <li v-for="user in users">
            <div v-for="(value, key, index) in user">
                {{ index }}) {{ key }} : {{ value }}
            </div>
        </li>
    </ul>


</div>

<hr/>

<!-- APP #3 -->
<div id="conditionalRendering">
    <h4>Conditional rendering</h4>
    <p v-if="mode == 1">
        Showing <strong> v-if </strong> directive content
    </p>
    <template v-else-if="mode == 2">
        <h3>Heading</h3>
        <p> Showing <strong> v-else-if </strong> directive content</p>
    </template>
    <p v-else>
        Showing <strong> v-else </strong> directive content
    </p>

    <p v-show="mode == 1"><strong>v-show </strong> if v-if</p>

    <select v-model="mode">
        <option value="1">v-if</option>
        <option value="2">v-else-if</option>
        <option value="3">v-else</option>
    </select>
</div>

<hr/>

<!-- APP #2 -->
<div id="circle">
    <label>
        <input type="checkbox"
               v-model="isPurple">
        Purple
    </label>

    <select v-model="selectedColor">
        <option value="">White</option>
        <option value="text-black">Black</option>
        <option value="text-orange">Orange</option>
    </select>

    <input type="number"
           v-model="size">

    <div class="circle"
         :class="{purple: isPurple}"
         :style="[
             {width: size + 'px', height: size + 'px', lineHeight: size + 'px'},
             {transform: 'rotate(180deg)'}
         ]">
        object
    </div>

    <div class="circle"
         :class="circle_classes"
         :style="circle_style"
    >
        computed
    </div>

    <div class="circle"
         :class="[selectedColor, circle_classes]">
        selector
    </div>

</div>

<hr/>

<!-- APP #1 -->
<!-- add directive ("v-cloak" await app mount itself) to improve performance -->
<div id="app" v-cloak>
    {{ firstName }} / {{ lastName }} / {{ age }}

    <p>Move the logic outside the template: </p>
    <!--    <strong> {{ fullName() }} </strong>-->
    <!--  After moving fullName() method to computed properties -->
    <strong> {{ fullName }} </strong>

    <hr/>

    <h4>Reactivity / Data binding </h4>
    <form>
        <label>First Name (with focus out): </label>
        <!-- add directive + modifier ("v-model.lazy.trim" updates template) to improve reactivity; removes white spaces before/after input -->
        <input type="text"
               v-model.lazy.trim="firstName">
        <br/>

        <label>Middle Name (with Enter): </label>
        <!-- add key aliases (".enter") updates value ou press Enter -->
        <input type="text"
               @keyup.enter="updateMiddleName">
        <br/>

        <label>Last Name: </label>
        <!-- add directive ("v-model" updates template) to improve reactivity -->
        <input type="text"
               v-model="lastName">
        <br/>

        <label>Age: </label>
        <!-- add directive + modifier ("v-model.number" updates template, converts string to number) -->
        <input type="number"
               v-model.number="age">
        <br/>

        <!-- add directive ("v-on:click") to listen the events -->
        <button type="button"
                v-on:click="increment">
            Increment
        </button>
        <button type="button"
                @click.ctrl="age--">
            Decrement (with Ctrl)
        </button>
    </form>
    <hr/>

    <h4>Dynamic binding </h4>
    <!-- add directive ("v-bind" dynamic binding)  -->
    <a v-bind:href="url"
       target="_blank">Google</a> &
    <a :href="url"
       target="_blank">Google</a>
    <br/>
    <br/>

    <label>Last Name: </label>
    <input type="text"
           :value="lastName"
           @input.prevent="updateLastName('Last Name!', $event)">
</div>

<!--<script src="https://unpkg.com/vue@next"></script>-->
<script src="https://unpkg.com/vue@3.2.21/dist/vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>
